<h1>Add new Book</h1>
<div class="col-md-6 offset-3">
  <p *ngIf="message">{{message}}</p>
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Title" formControlName="title" required="">
    </div>
    <div class="mb-3">
      <label for="author" class="form-label">Author</label>
      <input type="text" class="form-control" id="author" placeholder="Author" formControlName="author" required="">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" rows="3" formControlName="description"required=""></textarea>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!bookForm.valid">Submit</button>
    <button class="btn btn-secondary" type="button" [routerLink]="''">Back</button>
  </form>
</div>
